<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/logo-icon.png">
  <meta name="description" content="">
  <meta name="copyright" content="">
  <meta name="keywords" content="">
  <meta name="robot" content="index">
  <meta name="generator" content="">
  <meta name="author" content="">
  <title>Happy</title>

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <link rel="stylesheet" type="text/css" href="/styles/animations.css">
  <link rel="stylesheet" type="text/css" href="/styles/page-landing.css">

</head>
<body>

  <div id="page-landing">
    <div id="container">
      <header>
        <img id="logo" class="animate-up" src="/assets/logo.svg" alt="Logomarca do Happy">

        <div class="location animate-up">
          <strong>Minas Gerais</strong>
          <p>Belo Horizonte</p>
        </div>
      </header>

      <main>
        <h1 class="animate-up">Leve felicidade para o mundo</h1>

        <section class="visit">
          <p class="animate-up">Visite orfanatos e mude o dia de muitas crianças</p>

          <a href="orphanages" title="Visite orfanatos" class="animate-up">
            <img src="/assets/arrow.svg" alt="Ir para o mapa">
          </a>
        </section>
      </main>
    </div>
  </div>

</body>
</html>